{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid d-flex mt-5">
        <div class="row justify-content-center">
            <div class="col-8 col-lg-6">
                <div class="card border-primary shadow">
                    <div class="card-header bg-primary text-center text-white">Realizar encuesta</div>
                    <div class="card-body">
                        <form class="row g-2" action="" method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger mb-4" role="alert">
                                    <b>{{ error }}</b>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    {{ form.nombre }}
                                    <label for="id_nombre">{{ form.nombre.label }}</label>
                                    {% if form.nombre.errors %}
                                        {% for error in form.nombre.errors %}
                                            <small style="color: red">{{ error }}</small>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6 form-floating">
                                {{ form.edad }}
                                <label>{{ form.edad.label }}</label>
                                {% if form.edad.errors %}
                                    {% for error in form.edad.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 form-floating">
                                {{ form.sexo }}
                                <label>{{ form.sexo.label }}</label>
                                {% if form.sexo.errors %}
                                    {% for error in form.sexo.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 form-floating">
                                {{ form.peso_corporal }}
                                <label>{{ form.peso_corporal.label }}</label>
                                {% if form.peso_corporal.errors %}
                                    {% for error in form.peso_corporal.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6 form-floating">
                                {{ form.grado_de_escolaridad }}
                                <label>{{ form.grado_de_escolaridad.label }}</label>
                                {% if form.grado_de_escolaridad.errors %}
                                    {% for error in form.grado_de_escolaridad.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-12 mb-3">
                                <label class="d-inline-block me-2">{{ form.intereses_personales.label }}:</label>
                                {% if form.intereses_personales.errors %}
                                    {% for error in form.intereses_personales.errors %}
                                        <small style="color: red">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                                {{ form.intereses_personales }}
                            </div>
                            <div class="col text-center">
                                <input class="btn btn-primary" type="submit" value="Enviar" style="width: 10.5rem"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}