{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Encuestas</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <p class="text-center">Bienvenido, pulse
                    <a href="{% url 'create-encuesta' %}">aquí</a>
                    para realizar la encuesta.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
